	<header> </header>
	<section id="content_home">
		<div class="logo"><div class="lgimg"> </div></div>
		<div class="form"> 
		<form action="javascript:startSearch('instagram');">
			<div>
				<input type="text" id="search-field" class="field" />
			</div>
			<div>
				<input class="button" id="do-search" type="button" value="Search" /> 
				<?php /*<input class="button" type="button" value="Search" /> */ ?>			
			</div>
			<div class="description">
				<h1>The Social Search Engine</h1>
			</div>
		</form>
		</div>
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="http://whooptag.com">Whooptag.com</a></div>
		<div class="corte"> </div>
	</footer>
<style>
	footer{
		position: absolute;
		bottom: 0; left: 0; right: 0;
	}
</style>
<script>
$(function() {
	$('#do-search').click(function(){
		startSearch('instagram');
	});
	
});
</script>