<header id="search-header"> 
		<div class="logo"> </div>	
		<div class="form"> 
			<input type="text"class="field" />
		</div>
	</header>
	<section id="menu">
		<ul>
			<li>All</li>
			<li class="selected">Instagram</li>
			<li>Twitter</li>
			<li>Youtube</li>
		</ul>
	</section>
	<section id="content">
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="#">Google.com</a></div>
		<div class="corte"> </div>
	</footer>