@charset "utf-8";
/* CSS Document */

html, body {
	margin: 0; padding: 0; border: 0; outline: 0; text-decoration:none; height:100%;
}

div, span, applet, object, iframe, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, 
abbr, acronym, address, big, cite, code, del, 
dfn, em, font, img, ins, kbd, q, s, samp, small, 
strike, strong, sub, sup, tt, var, b, u, i, 
center, dl, dt, dd, ol, ul, li, fieldset, form, 
label, legend, table, caption, tbody, tfoot, 
thead, tr, th, td { 
	margin: 0; padding: 0; border: 0; outline: 0; text-decoration:none; position:relative; 
}

.corte{ clear:both; }

.right{
	float: right;
	text-align: right;
}

.left{
	float: left;
	text-align: left;
}

.link{
	cursor: pointer;
}

body{
	font-family: Helvetica;
	min-height: 500px;
}

#searchs{
	height: 100%;
}

header{
	height: 60px;
	min-width: 800px;
}

#content_home .logo {
	height: 230px;
	width: 100%;
	text-align: center;
}
#content_home .logo .lgimg{
	width: 800px;
	height: 100%;
	margin: 0 auto;
	background: url(../img/logo.png) center bottom no-repeat;
	text-align: center;
	background-size: 400px 141px;
}

#content_home .form{
	width: 100%;
	min-width: 800px;
	text-align: center;
}

#content_home .field{
	border: 1px solid #DDDDDD;
    font-size: 14px;
    margin: 25px 0 0;
    padding: 5px 10px;
    width: 550px;
}
#content_home .button{
	width: 300px;
	border: 1px solid #DDDDDD;
	color: #444444;
    font-size: 12px;
    margin: 15px 6px;
    padding: 5px 0 7px;
    text-align: center;
    width: 125px;
}
#content_home .button:hover{
	border: 1px solid #CCCCCC;
}
#content_home .description {
	color: #0872b9;
	text-align: center;
}
#content_home .description h1{
	margin-top: 30px;
	font-family: Times;
	font-size: 30px;
	font-weight: lighter;
}


#search-header{
	height: 40px;
	background: #f1f1f1 url(../img/logo_small.png) center left no-repeat;
    text-align: left;
	background-size: 110px 40px;
	background-position: 7px;
	padding: 15px 20px 5px 130px;
}

#search-header .field{
	border: 1px solid #DDDDDD;
    font-size: 16px;
    padding: 4px 10px;
    width: 570px;
}

#search-header .form .top-spam{
	font-size: 11px;
	color: #aaa;
	position: absolute;
	top: -14px; left: 0;
}
#search-header .form .bottom-spam{
	font-size: 10px;
	color: #aaa;
	position: absolute;
	bottom: -11px; left: 0;
}

#search-header .form .search_inside{
	display:inline-block;
	width: 54px;
	height: 30px;
	text-decoration: none;
	background: url(../../img/btn/btn_search_54x30.png);
	border: 0;
	position: absolute;
	top: 0;
	left: 570px;
	cursor: pointer;
}

#menu{
	padding: 0 0 0 130px;
	color: #555;
	font-size: 14px;
	border-bottom: #ebebeb 1px solid;
	cursor: pointer;
}
#menu ul, #menu ul li{
	list-style: none;
}

#menu ul li{
	padding: 20px;
	display: inline-block;
	cursor: pointer;
}
#menu ul li:hover{
	color: #222;
	text-decoration: none;
}
#menu ul li a{
	color: #555;
}
#menu ul li a:hover{
	color: #222;
	text-decoration: none;
}

#menu ul li.selected{
	color: #f15a24;
	padding: 17px 20px;
	border-bottom: #f15a24 3px solid;
}

#submenu{
	background: #f1f1f1;
	padding: 10px 10px 10px 130px;
	position: relative;
}
#submenu ul, #submenu ul li{
	list-style: none;
}
#submenu ul li{
	padding: 5px 20px;
	display: inline-block;
	vertical-align: middle;
	cursor: pointer;
	color: #ccc;
	font-size: 18px;
}
#submenu ul li a{
	color: #ccc;
}
#submenu ul li img{
	display: inline-block;
	vertical-align: middle;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	width: 30px;
	height: 30px;
}
#submenu ul li:hover, #submenu ul li a:hover{
	color: #f15a24;
	text-decoration: none;
}
#submenu ul li.selected, #submenu ul li.selected a{
	color: #f15a24;
}




#content{
	
}
#content.instagram{
	background: #f1f1f1 url(../../img/instagram.png) top left no-repeat;
	padding: 10px 10px 10px 130px;
}

#content.instagram .item{
	padding: 5px 10px 10px 10px;
	background: #fff;
	margin: 5px;
	float: left;
	border: #ddd 1px solid;
}
#content.instagram .item .title{
	height: 50px;
	width: 250px;
	margin-bottom: 5px;
}
#content.instagram .item .title img, #content.instagram .item .title .info{
	float: left;
}
#content.instagram .item .title .instdate{
	position: absolute;
	top: 0;
	right: 0;
	color: #aaa;
	font-size: 12px;
}
#content.instagram .item .title .info{
	margin-left: 5px;
	width: 190px;
	font-size: 14px;
	color: #555;
}
#content.instagram .item .title .name{
	display: block;
}
#content.instagram .item .title .caption{
	display: block;
	font-size: 12px;
	color: #888;
}
#content.instagram .item .title .link{
	font-size: 11px;
	display: block;
}
	
#content.instagram .item .media{
	height: 250px;
	width: 250px;
}
#content.instagram .item .media .video-icon{
	display:inline-block;
	width: 30px;
	height: 30px;
	text-decoration: none;
	background: url(../../img/btn/video_icon_30x30.png);
	border: 0;
	position: absolute;
	top: -230px;
	right: 5px;
}

#content.instagram .instagram_user{
	width: 500px;
	margin: 20px 0 50px 150px;	
}

#content.instagram .instagram_user .image, #content.instagram .instagram_user .image img{
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	display: inline-block;
	vertical-align: top;
}
#content.instagram .instagram_user .info {
	display: inline-block;
	margin: 5px 10px;
	min-height: 150px;
	width: 300px;
}
#content.instagram .instagram_user .info .full_name, #content.instagram .instagram_user .info .full_name h1{
	color: #777;
	font-size: 20px;
	margin-bottom: 10px;
}
#content.instagram .instagram_user .info .bio {
	color: #777;
	margin-bottom: 10px;
}
#content.instagram .instagram_user .info a{
	color: #f15a24;
	font-size: 12px;
}



#content.twitter{
	background: #f1f1f1;
	padding: 10px 10px 10px 130px;
}

#content.twitter .item{
	padding: 0;
	background: #fff;
	margin: 5px;
	float: left;
	border: #ddd 1px solid;
	width: 250px;
}
#content.twitter .item .title{
	height: 50px;
	width: 250px;
}
#content.twitter .item .title img, #content.twitter .item .title .info{
	float: left;
}
#content.twitter .item .title .instdate{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #aaa;
	font-size: 12px;
}
#content.twitter .item .title .info{
	margin: 5px;
	width: 190px;
	font-size: 14px;
	color: #555;
}
#content.twitter .item .title .name{
	display: block;
}
#content.twitter .item .title .caption{
	display: block;
	font-size: 12px;
	color: #888;
}
#content.twitter .item .title .link{
	font-size: 11px;
	display: block;
}
	
#content.twitter .item .media{
	width: 210px;
	background: #555;
	color: #fff;
	font-size: 14px;
	padding: 20px;
}
#content.twitter .item .media img{
	width: 210px;
	margin: 10px 0 0 0;
}



#content.youtube{
	background: #f1f1f1;
	padding: 10px 10px 10px 130px;
}

#content.youtube .item{
	padding: 0;
	background: #fff;
	margin: 5px;
	/*float: left;*/
	border: #ddd 1px solid;
	width: 250px;
}
#content.youtube .item .title{
	/*height: 50px;*/
	width: 240px;
	padding: 5px;
}

#content.youtube .item .title .instdate{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #aaa;
	font-size: 12px;
}
#content.youtube .item .title .info{
	margin: 5px;
	width: 190px;
	font-size: 14px;
	color: #555;
}
#content.youtube .item .title .name{
	display: block;
}
#content.youtube .item .title .caption{
	display: block;
	font-size: 12px;
	color: #888;
}
#content.youtube .item .title .link{
	font-size: 11px;
	display: block;
}
	
#content.youtube .item .media{
	height: 140px;
	width: 250px;
	background: #fff;
	font-size: 14px;
	padding: 0;
}

#content.youtube .item .media img{
	/*filter:alpha(opacity=70); 
	-moz-opacity:0.7; 
	-khtml-opacity: 0.7;	
	opacity: 0.7;*/
}

#content.youtube .item .media .video-icon{
	display:inline-block;
	width: 30px;
	height: 30px;
	text-decoration: none;
	background: url(../../img/btn/video_icon_30x30.png);
	border: 0;
	position: absolute;
	right: 2px;
	filter:alpha(opacity=100); 
	-moz-opacity:1; 
	-khtml-opacity: 1;	
	opacity: 1;
}

#content.youtube .item .media .btn_play_48x48{
	background: url(../../img/btn/btn_play_48x48.png);
	position: absolute;
	top: 50%; left: 50%;
	margin-top: -24px;
	margin-left: -24px;
	width: 48px;
	height: 48px;
}

#content.youtube .item .caption{
	display: block;
	font-size: 12px;
	color: #888;
	padding: 5px;
}



#pager{
	font-size: 14px;
	text-align: center;
	padding: 20px;
}
#pager a{ 
	color: #f15a24;
	margin: 30px 20px; 
	font-weight: bold;
}
#pager a:hover{ 
	color: #0872b9;
}


footer{
	background: #f2f2f2;
	border-top: #e4e4e4 1px solid;
	color: #666666;
	padding: 12px 30px;
	font-size: 14px;
}

footer a{
	color: #666666;
}
footer a:hover{
	color: #666666;
	text-decoration: underline;
}



#overlay{
	position: fixed;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#overlay_bg, #overlay_content{
	position: absolute;
	top: 0; left: 0;
	width: 100%;
	height: 100%;
	z-index: 1000;
}
#overlay_bg{
	background: #fff;
	filter:alpha(opacity=90); 
	-moz-opacity:0.9; 
	-khtml-opacity: 0.9;	
	opacity: 0.9;
}
#overlay_content{
	z-index: 1001;
}

.close_instagram_media {
	position: absolute;
	top: 0;
	right: 50px;
}

.share-icons{
	position: absolute;
	top: 5px; 
	left: 50%;
	margin-left: 172px;
	text-align: center;
}
.share-icons a{
	margin: 0 5px;
}
#overlay_content .loading{
	padding: 200px 50px;
	text-align: center;
}
#overlay_content .instagram_media{
	position: absolute;
	top: 5px;
	left: 50%;
	margin-left: -250px;
	padding: 0;
	background: #fff;
	border: #eee 1px solid;
}
#overlay_content .instagram_media .title{
	height: 50px;
	width: 500px;
	margin-bottom: 5px;
}
#overlay_content .instagram_media .title img, #content.instagram .item .title .info{
	float: left;
}
#overlay_content .instagram_media .title .instdate{
	position: absolute;
	top: 0;
	right: 0;
	color: #aaa;
	font-size: 12px;
}
#overlay_content .instagram_media .title .info{
	margin-left: 55px;
	width: 400px;
	font-size: 14px;
	color: #555;
}
#overlay_content .instagram_media .title .name{
	font-size: 16px;
	display: block;
}
#overlay_content .instagram_media .title .caption{
	display: block;
	font-size: 12px;
	color: #888;
}
#overlay_content .instagram_media .title .link{
	font-size: 11px;
	display: block;
}
	
#overlay_content .instagram_media .media{
	height: 500px;
	width: 500px;
}

#overlay_content .instagram_media .instagram_link{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	text-align: center;
}
#overlay_content .instagram_media .instagram_link a{
	color: #DD4B39;
}

#overlay_content .prev_arrow_content {
	position: absolute;
	top: 280px;
	left: 50%;
	margin-left: -300px;
}
#overlay_content .prev_arrow_content a.prev_arrow{
	display:inline-block;
	width: 50px;
	height: 50px;
	text-decoration: none;
	background: url(../../img/btn/next-prev.png);
}

#overlay_content .next_arrow_content {
	position: absolute;
	top: 280px;
	left: 50%;
	margin-left: 250px;
}
#overlay_content .next_arrow_content a.next_arrow{
	display:inline-block;
	width: 50px;
	height: 50px;
	text-decoration: none;
	background: url(../../img/btn/next-prev.png);
	background-position: -50px 0;
}


#overlay_content .twitter_media{
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -250px;
	padding: 0;
	background: #fff;
	border: #eee 1px solid;
	box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-moz-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	-webkit-box-shadow: 0px 0px 10px 4px rgba(119, 119, 119, 0.75);
	width: 520px;
	max-height: 90%;
	overflow-y: auto;
	overflow-x: hidden;
}
#overlay_content .twitter_media .title{
	width: 500px;
	margin: 10px;
}
#overlay_content .twitter_media .title img, #content.twitter .item .title .info{
	float: left;
}
#overlay_content .twitter_media .title .instdate{
	position: absolute;
	top: 0;
	right: 0;
	color: #aaa;
	font-size: 12px;
}
#overlay_content .twitter_media .title .info{
	margin-left: 70px;
	width: 400px;
	font-size: 30px;
	color: #555;
	font-weight: bold;
}
#overlay_content .twitter_media .title .name{
	font-size: 24px;
	display: block;
}
#overlay_content .twitter_media .title .caption{
	display: block;
	font-size: 24px;
	color: #888;
	margin-left: 70px;
}
#overlay_content .twitter_media .title .caption a{
	color: #f15a24;
}
#overlay_content .twitter_media .title .caption a:hover{
	color: #222;
}
#overlay_content .twitter_media .title .link{
	font-size: 11px;
	display: block;
}
	
#overlay_content .twitter_media .media{
	max-height: 450px;
	width: 520px;
	background: #555;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#overlay_content .twitter_media .twitter_link{
	/*position: absolute;*/
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	text-align: center;
}
#overlay_content .twitter_media .twitter_link a{
	color: #DD4B39;
}

#overlay_content .twitter_media .media img{
	max-height: 500px;
	max-width: 500px;
}

#overlay_content .twitter_media .media .twitter_link{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	text-align: center;
}
#overlay_content .twitter_media .media .twitter_link a{
	color: #DD4B39;
}



#overlay_content .youtube_media{
	position: absolute;
	top: 40px;
	left: 50%;
	margin-left: -250px;
	padding: 0;
	background: #fff;
	border: #eee 1px solid;
}
#overlay_content .youtube_media .title{
	height: 50px;
	width: 500px;
	margin-bottom: 5px;
}
#overlay_content .youtube_media .title img, #content.youtube .item .title .info{
}
#overlay_content .youtube_media .title .instdate{
	position: absolute;
	top: 5px;
	right: 5px;
	color: #aaa;
	font-size: 12px;
}
#overlay_content .youtube_media .title .info{
	margin-left: 10px;
	width: 400px;
	font-size: 14px;
	color: #555;
}
#overlay_content .youtube_media .title .name{
	font-size: 16px;
	display: block;
}
#overlay_content .youtube_media .title .caption{
	display: block;
	font-size: 12px;
	color: #888;
}
#overlay_content .youtube_media .title .link{
	font-size: 11px;
	display: block;
}
	
#overlay_content .youtube_media .media{
	height: 300px;
	width: 500px;
	background: #555;
	display: table-cell;
	text-align: center;
	vertical-align: middle;
}

#overlay_content .youtube_media .media img{
	max-height: 300px;
	max-width: 500px;
}

#overlay_content .youtube_media .youtube_link{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #fff;
	text-align: center;
}
#overlay_content .youtube_media .youtube_link a{
	color: #DD4B39;
}

#overlay_content .youtube_media .caption{
	display: block;
	font-size: 12px;
	color: #888;
	padding: 5px;
	width: 490px;
}


#map{
	position: relative;
	height:100%;
}

#boton_mas{
	position:absolute;
	top:115px;
	left:50%;
	margin-left:-50px;
	padding:10px;
	width:100px;
	background:#f15a24;
	color:#FFF;
	z-index:200;
	cursor: pointer
}




/* Botones */

#user{
	position: absolute;
	top: 15px;
	right: 20px;
	z-index: 100;
}

#openSigninButton{
	background: #f15a24;
	font-size: 16px;
	font-weight: bold;
	color: #fff;
	padding: 5px 10px;
	cursor: pointer;
	border: #e43f04 1px solid;
}
#openSigninButton:hover{
	background: #e43f04;
	border: #f15a24 1px solid;
}


a{
	cursor: pointer;
}

a.btn_close_56x56{
	display:inline-block;
	width: 56px;
	height: 56px;
	text-decoration: none;
	background: url(../../img/btn/btn_close_56x56.png);
}
a.btn_close_56x56:hover {
	background-position: -56px 0;
	}





/* ScreenView */
	#screenview-button{
		position: absolute;
		top: 18px;
		right: 10px;
		z-index: 100;
	}
	#screenview-button a{
		color: #f15a24;
	}
	#screenview-button a:hover{
		color: #555;
	}
	
	#screenview {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 60px;
		background: #ffffff;
		z-index: 2000;
	}
	#screenview_info {
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 60px;
		background: #000 url(../img/instagram_color_60x60.png) center left no-repeat;
		background-position: 20px 0;
		z-index: 2000;
	}
	#screenview_info .tag{
		color: #FFFFFF;
	    float: left;
	    font-size: 40px;
	    font-weight: bold;
	    margin: 5px 90px;
	}
	#screenview_info .domain{
		float: right;
		margin: 22px;
		color: #fff;
		font-size: 14px;
	}
	#screenview .close{
		position: absolute;
		top: 20px;
		right: 20px;
		z-index: 999;
		cursor: pointer;
	}
	#screenview .user_item_screenview{
		position: absolute;
		width: 100%;
		display: table-cell;
		vertical-align: middle;
		text-align: center;
		margin-bottom: 5px;
	}
	#screenview .user_item_screenview img {
		-webkit-border-radius: 100px;
		-moz-border-radius: 100px;
		border-radius: 100px;
	}
	#screenview .user_item_screenview table{
		text-align: center;
		margin: 0 auto;
	}
	#screenview .user_item_screenview table tr td {
		vertical-align: middle;
	}
	#screenview .user_item_screenview .instdate{
		color: #AAAAAA;
	    font-size: 24px;
	    left: 50%;
	    margin-left: -30px;
	    position: absolute;
	    top: -30px;
	}
	#screenview .user_item_screenview .info{
		color: #F15A24;
	    font-size: 45px;
	    font-weight: bold;
	    margin-left: 70px;
	    margin-top: 15px;
	    width: 400px;
	}
	#screenview .user_item_screenview .name{
		font-size: 45px;
		color: #F15A24;
		font-weight: bold;
		display: block;
		background-color: #fff;
		padding: 5px;
	}
	#screenview .user_item_screenview .caption{
		display: block;
		font-size: 12px;
		color: #888;
	}
	#screenview .user_item_screenview .link{
		font-size: 11px;
		display: block;
	}
	#screenview .media_item_screenview{
		position: absolute;
		height: 500px;
		width: 500px;
	}
	#screenview .media_item_screenview .instagram_link{
		/*position: absolute;*/
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		text-align: center;
	}
	#screenview .media_item_screenview .instagram_link a{
		color: #DD4B39;
	}
	#screenview .media_item_screenview_bg{
		position: absolute;
		filter:alpha(opacity=30); 
		-moz-opacity:0.3; 
		-khtml-opacity: 0.3;	
		opacity: 0.3;
	}
	#screenview .media_item_screenview_bg .instagram_link{
		/*position: absolute;*/
		bottom: 0;
		left: 0;
		width: 100%;
		background: #fff;
		text-align: center;
		display: none;
	}
	#screenview .media_item_screenview_bg .instagram_link a{
		color: #DD4B39;
	}
/* Fin ScreenView */