/*----------------------------
	The Gallery and photos
-----------------------------*/


#loading{
	display:none;
	width:40px;
	height:40px;
	background:url(../img/preloader.gif) no-repeat center center;
	position:fixed;
	top:50%;
	left:50%;
	margin:-20px 0 0 -20px;
}

#gallery{
    background: none repeat scroll 0 0 #2F343A;
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
}

#gallery a{
	opacity:0;
	float:left;
	background-size:cover;
	background-position: center center;

	-webkit-transform:scale(0.8);
	-moz-transform:scale(0.8);
	transform:scale(0.8);

	-webkit-transition:0.4s;
	-moz-transition:0.4s;
	transition:0.4s;
}

#gallery a.static:hover,
#gallery a.show:hover{
	opacity: 1 !important;
}

#gallery a.static{
	opacity: 0.4;

	-webkit-transform:none;
	-moz-transform:none;
	transform:none;

	-webkit-transition:opacity 0.4s;
	-moz-transition:opacity 0.4s;
	transition:opacity 0.4s;
}

#gallery a.next,
#gallery a.prev{
	background-color:#333;
	cursor:pointer;
}

#gallery a.next{
	background-image:url('../img/arrow_next.jpg');
}

#gallery a.prev{
	background-image:url('../img/arrow_prev.jpg');
}

#gallery a.show{
	opacity:1;

	-webkit-transform:scale(1);
	-moz-transform:scale(1);
	transform:scale(1);
}

