<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link type="text/css" href="/css/estilos.css" rel="stylesheet" charset="utf-8">

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDqPeF6eGogk2Z9w9wvH7lt750gSSQk1e8&sensor=true"></script>
<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/jquery/jquery-ui.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
        
<title>Social Search</title>
</head>
<body><div id="searchs">
	<?php echo $this->layout()->content ?>
</div>Desarrollo</body>
</html>
