<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<link type="text/css" href="/css/estilos.css" rel="stylesheet" charset="utf-8">
<link type="text/css" href="/lib/video-js/video-js.css" rel="stylesheet">

<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDqPeF6eGogk2Z9w9wvH7lt750gSSQk1e8&sensor=true"></script>
<script src="/lib/jquery/jquery.js"></script>
<script src="/lib/jquery/jquery-ui.js"></script>
<script src="/lib/masonry.pkgd.js"></script>
<script src="/lib/video-js/video.js"></script>
<script type="text/javascript" src="/js/search.js"></script>
        
<?php
	echo $this->headTitle();
	echo $this->headMeta();
?>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-46403265-1', 'whooptag.com');
  ga('send', 'pageview');

</script>

</head>
<body>
	<div id="fb-root"></div>
	<script>
	  window.fbAsyncInit = function() {
	    // init the FB JS SDK
	    FB.init({
	      appId      : '634832983225590',                        // App ID from the app dashboard
	      status     : true,                                 // Check Facebook Login status
	      xfbml      : true                                  // Look for social plugins on the page
	    });
	
	    // Additional initialization code such as adding Event Listeners goes here
	  };
	
	  // Load the SDK asynchronously
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/all.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<div id="searchs">
		<?php echo $this->layout()->content ?>
	</div>
	<div class="corte"> </div>
	<div id="overlay" style="display: none;">
		<section id="overlay_bg"> </section>
		<section id="overlay_content"> </section>
	</div>
	<div id="screenview" style="display: none;"></div>
	<div id="screenview_info" style="display: none"><div id="screenview_info_tag" class="tag"></div><div class="domain">whooptag.com</div></div>
</body>
</html>
