	<header> </header>
	<section id="login">
		<div class="login_box">
			<form name="login-form" id="login-form">
				<input class="field" type="text" name="login-email" id="login-email" placeholder="Email" />
				<input class="field" type="password" name="login-password" id="login-password" placeholder="Password" />
				<input class="button" type="button" value="Sign in" />
			</form>
		</div>
		<div class="new-link"><a href="sign-up/">Create new account</a></div>
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="http://whooptag.com">Whooptag.com</a></div>
		<div class="corte"> </div>
	</footer>
<style>
	header{
		background: url("/img/logo.png") no-repeat center;
		background-size: 269px 95px;
		height: 100px;
		padding-top: 50px;
	}
	footer{
		position: absolute;
		bottom: 0; left: 0; right: 0;
	}
	#login{
		width: 500px;
		margin: 0 auto;
	}
	#login .login_box{
		background: none repeat scroll 0 0 #EBEBEB;
	    border: 1px solid #CCCCCC;
	    margin: 0 50px;
	    padding: 20px 50px;
	}
	#login .login_box .field{
		background: none repeat scroll 0 0 #FFFFFF;
	    border: 1px solid #CCCCCC;
	    color: #555555;
	    font-size: 20px;
	    font-weight: lighter;
	    margin: 5px 0;
	    padding: 7px 10px;
	    width: 280px;
	}
	#login .login_box .field::-webkit-input-placeholder { /* WebKit browsers */
		font-size: 16px;
		font-weight: lighter;
		color: #aaa;
	}
	#login .login_box .field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 16px;
		font-weight: lighter;
		color: #aaa;
	}
	#login .login_box .field::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 16px;
		font-weight: lighter;
		color: #aaa;
	}
	#login .login_box .field:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-size: 16px;
		font-weight: lighter;
		color: #aaa;
	}
	#login .login_box .button{
		background: none repeat scroll 0 0 #F15A24;
	    border: 1px solid #E43F04;
	    color: #FFFFFF;
	    font-size: 16px;
	    font-weight: bold;
	    margin: 10px 0;
	    padding: 8px 20px;
	    width: 300px;
	    cursor: pointer;
	}
	#login .login_box .button:hover{
		background: none repeat scroll 0 0 #E43F04;
	    border: 1px solid #F15A24;
	}
	
	#login .new-link{
		text-align: center;
		margin: 10px;
		font-size: 14px;
	}
	#login .new-link a{
		color: #E43F04;
	}
	#login .new-link a:hover{
		color: #E43F04;
		text-decoration: underline;
	}
</style>