	<header> </header>
	<section id="sign_up-content">
		<section class="sign_up_title">Create your Whooptag Account</section>
		<section id="sign_up">
			<div class="sign_up_box">
				<form name="sign_up-form" id="sign_up-form" action="" method="post">
					<div class="label">E-mail <span class="error" id="sign_up-email-error"></span></div>
					<input class="field" type="text" name="sign_up-email" id="sign_up-email" placeholder="Email" />
					<div class="label">First name <span class="error" id="sign_up-fname-error"></span></div>
					<input class="field" type="text" name="sign_up-fname" id="sign_up-fname" placeholder="First name" />
					<div class="label">Last name <span class="error" id="sign_up-lname-error"></span></div>
					<input class="field" type="text" name="sign_up-lname" id="sign_up-lname" placeholder="Last name" />
					<div class="label">Your password <span class="error" id="sign_up-password-error"></span></div>
					<input class="field" type="password" name="sign_up-password" id="sign_up-password" placeholder="Password" />
					<div class="label">Confirm password <span class="error" id="sign_up-cpassword-error"></span></div>
					<input class="field" type="password" name="sign_up-cpassword" id="sign_up-cpassword" placeholder="Confirm password" />
					<input class="button" type="submit" value="Sign up" />
				</form>
			</div>
		</section>
		<div class="corte"> </div>
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="http://whooptag.com">Whooptag.com</a></div>
		<div class="corte"> </div>
	</footer>
<style>
	#sign_up-content{
		max-width: 1000px;
		margin: 0 auto;
		position: relative;
	}
	.sign_up_title{
		clear: both;
	    color: #666666;
	    font-size: 50px;
	    font-weight: lighter;
	    margin: 0 0 30px;
	    text-align: center;
	}
	#sign_up{
		width: 500px;
		float: right;
	}
	#sign_up .sign_up_box{
		background: none repeat scroll 0 0 #EBEBEB;
	    margin: 20px 50px;
	    padding: 20px 30px;
	    text-align: right;
	}
	#sign_up .sign_up_box .label{
		color: #333;
		margin: 0;
		padding: 0;
		font-size: 14px;
		font-weight: bold;
		text-align: left;
	}
	#sign_up .sign_up_box .field{
		background: none repeat scroll 0 0 #FFFFFF;
	    border: 1px solid #CCCCCC;
	    color: #555555;
	    font-size: 20px;
	    font-weight: lighter;
	    margin: 0 0 10px;
	    padding: 5px 10px;
	    text-align: left;
	    width: 320px;
	}
	#sign_up .sign_up_box input.error {
		border: #f00 1px solid;
	}
	#sign_up .sign_up_box .field::-webkit-input-placeholder { /* WebKit browsers */
		font-size: 16px;
		font-weight: lighter;
		color: #aaa;
	}
	#sign_up .sign_up_box .field:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		font-size: 16px;
		font-weight: lighter;
		color: #aaa;
	}
	#sign_up .sign_up_box .field::-moz-placeholder { /* Mozilla Firefox 19+ */
		font-size: 16px;
		font-weight: lighter;
		color: #aaa;
	}
	#sign_up .sign_up_box .field:-ms-input-placeholder { /* Internet Explorer 10+ */
		font-size: 16px;
		font-weight: lighter;
		color: #aaa;
	}
	#sign_up .sign_up_box .button{
		 background: none repeat scroll 0 0 #F15A24;
	    border: 1px solid #E43F04;
	    color: #FFFFFF;
	    cursor: pointer;
	    font-size: 16px;
	    font-weight: bold;
	    margin: 10px 0 0;
	    padding: 8px 20px;
	}
	#sign_up .sign_up_box .button:hover{
		background: none repeat scroll 0 0 #E43F04;
	    border: 1px solid #F15A24;
	}
	
	.error {
		color: #f00;
		font-weight: lighter
	}
	input.error {
		border: #f00 1px solid;
	}
</style>

<script>

	$('#sign_up-email').change(function() {
		signup.validateEmail();
	});
	
	$('#sign_up-password').change(function() {
		signup.validatePassword();
	});
	$('#sign_up-cpassword').change(function() {
		signup.validatePassword();
	});
	
	$('#sign_up-form').submit(function( event ) {
		signup.saveUser();
		event.preventDefault();
 	});
	
	signup = {
		
		/*
		* signup.validateEmail();
		*/
		validateEmail: function(callback){
			callback = callback || function(){};
			var email = jQuery.trim($('#sign_up-email').val());
			if (email != ''){
				if (!isEmail(email)){
					$('#sign_up-email-error').html('*No es un correo valido');
					$('#sign_up-email').addClass('error');
				}else{
					var serv = base_url+"user/Account/is-user/";
					$.ajax({ 
						 type: "POST",
						 url: serv,
					     async: false,
					     data: {new_email: email},
					     success: function(data){ 
					     	if (data == 0){
					     		$('#sign_up-email-error').html('');
								$('#sign_up-email').removeClass('error');
								callback();
								return true;
					     	}else {
					     		$('#sign_up-email-error').html('*El email ya ha sido registrado');
								$('#sign_up-email').addClass('error');
								return false;
					     	}
					     }
					});	
				}
			}else{
				$('#sign_up-email-error').html('*Debe ingresar un email');
				$('#sign_up-email').addClass('error');
				return false;
			}
		},
		
		/*
		* signup.validatePassword();
		*/
		validatePassword: function(){
			var pass = jQuery.trim($('#sign_up-password').val());
			var cpass = jQuery.trim($('#sign_up-cpassword').val());
			if (pass != ''){
				$('#sign_up-password-error').html('');
				$('#sign_up-password').removeClass('error');
				if (pass != cpass){
					$('#sign_up-cpassword-error').html('*No coincide la confirmacion del password');
					$('#sign_up-cpassword').addClass('error');
				}else{
					$('#sign_up-cpassword-error').html('');
					$('#sign_up-cpassword').removeClass('error');
					return true;
				}
			}else {
				$('#sign_up-password-error').html('*Debe ingresar un password');
				$('#sign_up-password').addClass('error');
				$('#sign_up-cpassword').val('');
				$('#sign_up-cpassword-error').html('');
			}
			return false;
		}, 
		
		/*
		* signup.saveUser(callback);
		*/
		saveUser: function(callback){
			callback = callback || function(){};
			var serv = base_url+"user/Account/save-user/";
			
				signup.validateEmail(function(){
					if (signup.validatePassword()){
						$.ajax({
							 type: "POST",
							 url: serv,
						     async: false,
						     data: $("#sign_up-form").serialize(),
						     success: function(data){ 
						     	 alert('ok');
						     	 callback();
						     }
					    });	
				   }
				});
			
		}
		
	};
	
	function isEmail(email)
	{
    return /^[a-z0-9]+([-._][a-z0-9]+)*@([a-z0-9]+(-[a-z0-9]+)*\.)+[a-z]{2,4}$/.test(email)
        && /^(?=.{1,64}@.{4,64}$)(?=.{6,100}$).*/.test(email);
	}
</script>