<header id="search-header"> 
		<div class="logo"> </div>	
		<div class="form"> 
		<form action="javascript:startSearch('all');">
			<input type="text" id="search-field" class="field" value="<?php echo str_replace('+',' ',$this->tag); ?>" />
			<input type="submit" class="search_inside" value="" />
		</form>
		</div>
	</header>
	<section id="menu">
		<ul>
			<li class="selected">All</li>
			<li><a href="/search/instagram/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Instagram</a></li>
			<li><a href="/search/twitter/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Twitter</a></li>
			<li><a href="/search/youtube/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Youtube</a></li>
			<li><a href="/search/map/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Map</a></li>
		</ul>
	</section>
	<section id="content">
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="http://whooptag.com">Whooptag.com</a></div>
		<div class="corte"> </div>
	</footer>