	<header> </header>
	<section id="content_home">
		<div class="logo"><div class="lgimg"> </div></div>
		<div class="form"> 
			<div>
				<input type="text" id="search-field" class="field" />
			</div>
			<div>
				<input class="button" id="do-search" type="button" value="Buscar con Google" /> <input class="button" type="button" value="Voy a tener suerte" />			
			</div>
		</div>
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="#">Google.com</a></div>
		<div class="corte"> </div>
	</footer>
	
<script>
	$(function(){
		$('#do-search').click(function(){
			startSearch();
		});
	});
	
	function startSearch(){
		if ($.trim($('#search-field').val()) != ''){
			window.location.href = "/search/instagram/tag/"+($.trim($('#search-field').val()).replace(/\s/g,'+'));
		}
	}
</script>