<header id="search-header"> 
		<div class="logo"> </div>	
		<div class="form"> 
		<form action="javascript:research();">
			<div class="top-spam">Ubicaci&oacute;n</div>
			<input type="text" id="search-field" class="field" value="<?php echo str_replace('+',' ',$this->tag); ?>" />
			<input type="submit" class="search_inside" value="" />
			<div class="bottom-spam">Ejemplo 1: Los Angeles. | Ejemplo 2: Miami, Florida. | Ejemplo 3: Calle 98 # 18-23, Bogota, Colombia</div>
		</form>
		</div>
	</header>
	<section id="menu">
		<ul>
			<?php /*  ?><li><a href="/search/all/tag/<?php echo str_replace(' ','+',$this->tag); ?>">All</a></li><?php */ ?>
			<li><a href="/search/instagram/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Instagram</a></li>
			<li><a href="/search/twitter/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Twitter</a></li>
			<li><a href="/search/youtube/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Youtube</a></li>
			<li class="selected">Map</li>
		</ul>
	</section>
	<section id="content">
		<div id="map"></div>
		<div id="boton_mas" align="center">Cargar M&aacute;s</div>
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="http://whooptag.com">Whooptag.com</a></div>
		<div class="corte"> </div>
	</footer>
	

<script>
	var latitude; var longitude;

	var geocoder;
	var map;
	var markers = [];
	
	var instagram_min_time;
	var instagram_max_time;
	var instagram;
	var instagram_recent;
	
	$(function() {
		$('#content').height('80%');
		instagram_max_time = 0;
		instagram_min_time = 0;
		instagram = Object;
		
	  	geocoder = new google.maps.Geocoder();
		initializeMap(0, 0);
		codeAddress(function(){
			getInstagram(latitude, longitude, function(){
				setInstagramMarkers();
			});
		});
		
		$('#boton_mas').click(function(){
			loadMoreInstagram();
		});
		
			
	});
	
	function research(){
		codeAddress(function(){
			getInstagram(latitude, longitude, function(){
				setInstagramMarkers();
			});
		});
	}
	
	function loadMoreInstagram(){
			getInstagram(latitude, longitude, function(){
				setInstagramMarkers();
			});
	}
	
	
	
	/*
	**	Devuelve objeto con latitud, longitud y posicion.
	*/
	function getGeolocation(callback){
		if(navigator.geolocation) {
			navigator.geolocation.getCurrentPosition(function(position) {
			  latitude = position.coords.latitude;
			  longitude = position.coords.longitude;
			  callback();
			});
		}
	}
	
	/*
	**	Inicializa el mapa de google maps
	*/
	function initializeMap(lat, lng) {
	  var myLatlng = new google.maps.LatLng(lat, lng);
	  var mapOptions = {
		zoom: 16,
		center: myLatlng,
		mapTypeControl: false,
		overviewMapControl: false,
		panControl: false,
		scrollwheel: false,
		streetViewControl: false,
		zoomControl: true,
		zoomControlOptions: {
		  style: google.maps.ZoomControlStyle.SMALL
		},
		mapTypeId: google.maps.MapTypeId.ROADMAP
	  };
	  map = new google.maps.Map(document.getElementById('map'), mapOptions);
	  
	  google.maps.event.addListener(map, 'center_changed', function() {
	  	getThisPosition();
	  });
	  
	}	
	
	function getInstagram(latitude,longitude, callback){
		var serv = "";
		if (instagram_max_time == 0){ 
			serv = "https://api.instagram.com/v1/media/search?lat="+latitude+"&lng="+longitude+"&client_id=2016aa02fe05457486f0fd9cca91c751";
		}else{
			serv = "https://api.instagram.com/v1/media/search?lat="+latitude+"&lng="+longitude+"&client_id=2016aa02fe05457486f0fd9cca91c751&max_timestamp="+instagram_max_time;
			//alert(serv);
		}
		$.ajax({
	            type: "GET",
	            dataType: "jsonp",
	            cache: false,
			 url: serv,
			success: function(data){
				instagram_recent = data.data;
				callback();
			}
		});	
		
	}
	
	function setInstagramMarkers(){
			if(instagram_recent){
				$.each( instagram_recent, function( key, inst ) {
					instagram[inst.id] = inst;
					instagram_max_time = inst.created_time - 1;
					  var myLatlng = new google.maps.LatLng(inst.location.latitude, inst.location.longitude);
					  var marker = new google.maps.Marker({
						position: myLatlng,
						map: map,
						draggable: false,
						icon: {url: inst.images.thumbnail.url, scaledSize: new google.maps.Size(50, 50)},
						animation: google.maps.Animation.DROP
					  });
					  google.maps.event.addListener(marker, 'click', function() {
					  	  openInstagramMedia([inst.id]);
					  });
					  markers.push(marker)
				});
			}
			instagram_min_time = instagram_max_time - 3600;
	}
	
	function markerClicked(idMarker) {
	    alert('Marker ' + instagram[idMarker].user.full_name + ' has been clicked');
	}
	
	
	function getThisPosition() {
		instagram_max_time = 0;
		instagram_min_time = 0;
		latitude = map.getCenter().lat();
		longitude = map.getCenter().lng();
		removeMarkers();
		getInstagram(latitude, longitude, function(){
				setInstagramMarkers();
			});
	}
	
	function removeMarkers(){
		$.each( markers, function( key, inst ) {
			inst.setMap(null);;
		});
	}
	
	
	function codeAddress(callback) {
	  var address = $.trim($('#search-field').val());
	  geocoder.geocode( { 'address': address}, function(results, status) {
		if (status == google.maps.GeocoderStatus.OK) {
		  map.setCenter(results[0].geometry.location);
		  latitude = results[0].geometry.location.lat();
		  longitude = results[0].geometry.location.lng();
		  callback();
		}else{
			errorSearch();
		}
	  });
	}
	
	
	function errorSearch(){
		alert('Busqueda sin resultados');
	}
	
	
	function openInstagramMedia(id){
		$('#overlay_content').html('');
		$('#overlay_content').append('<div class="close_instagram_media"><a onclick="closeOverlay();" class="btn_close_56x56"></a></div>');
		var m = instagram[id];
		if (m.type == 'image'){
			if (m.caption == null) {
				$('#overlay_content').append('<div class="instagram_media"><div class="title"><img width="50" height="50" src="'+m.user.profile_picture+'" /><div class="info"><span class="name">'+truncate(m.user.full_name, 40)+'</span></div></div><div class="media"><img width="500" height="500" src="'+m.images.standard_resolution.url+'"><div class="instagram_link"><a href="'+m.link+'" target="blank">Ver en Instagram</a></div></div></div>');
			}else{
				$('#overlay_content').append('<div class="instagram_media"><div class="title"><div class="instdate">'+formatInstagramDate(m.caption.created_time)+'</div><img width="50" height="50" src="'+m.user.profile_picture+'" /><div class="info"><span class="name">'+truncate(m.user.full_name, 40)+'</span><span class="caption">'+truncate(m.caption.text, 100)+'</span></div></div><div class="media"><img width="500" height="500" src="'+m.images.standard_resolution.url+'"><div class="instagram_link"><a href="'+m.link+'" target="blank">Ver en Instagram</a></div></div></div>');
			}
		}else if (m.type == 'video'){
			if (m.caption == null) {
				$('#overlay_content').append('<div class="instagram_media"><div class="title"><img width="50" height="50" src="'+m.user.profile_picture+'" /><div class="info"><span class="name">'+truncate(m.user.full_name, 40)+'</span></div></div><div class="media"><video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="500" height="500" poster="'+m.images.standard_resolution.url+'" data-setup=\'{"example_option":true}\'> <source src="'+m.videos.low_resolution.url+'" type=\'video/mp4\' /></video><div class="instagram_link"><a href="'+m.link+'" target="blank">Ver en Instagram</a></div></div></div>');
			}else{
				$('#overlay_content').append('<div class="instagram_media"><div class="title"><div class="instdate">'+formatInstagramDate(m.caption.created_time)+'</div><img width="50" height="50" src="'+m.user.profile_picture+'" /><div class="info"><span class="name">'+truncate(m.user.full_name, 40)+'</span><span class="caption">'+truncate(m.caption.text, 100)+'</span></div></div><div class="media"><video id="example_video_1" class="video-js vjs-default-skin" controls preload="auto" width="500" height="500" poster="'+m.images.standard_resolution.url+'" data-setup=\'{"example_option":true}\'> <source src="'+m.videos.low_resolution.url+'" type=\'video/mp4\' /></video><div class="instagram_link"><a href="'+m.link+'" target="blank">Ver en Instagram</a></div></div></div>');
			}
		}
		openOverlay();
	}
	
</script>