<header id="search-header"> 
		<div class="logo"> </div>	
		<div class="form"> 
		<form action="javascript:startSearch('twitter');">
			<input type="text" id="search-field" class="field" value="<?php echo str_replace('+',' ',$this->tag); ?>" />
			<input type="submit" class="search_inside" value="" />
		</form>
		</div>
	</header>
	<section id="menu">
		<ul>
			<?php /*  ?><li><a href="/search/all/tag/<?php echo str_replace(' ','+',$this->tag); ?>">All</a></li><?php */ ?>
			<li><a href="/search/instagram/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Instagram</a></li>
			<li class="selected">Twitter</li>
			<li><a href="/search/youtube/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Youtube</a></li>
			<li><a href="/search/map/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Map</a></li>
		</ul>
	</section>
	<section id="submenu" class="twitter_submenu">
		<ul>
			<?php
				foreach ($this->tags as $t ) {
			?>
				<li id="tag-<?php echo $t; ?>" tag="<?php echo $t; ?>" <?php if ($t == $this->s && $this->u == 0){ ?> class="selected" <?php }?>>
					<a href="/search/twitter/tag/<?php echo str_replace(' ','+',$this->tag); ?>/s/<?php echo $t; ?>/">#<?php echo $t; ?></a>
				</li>
			<?php
				}
			?>
			<?php
				foreach ($this->users as $u ) {
			?>	
				<?php
					if ($this->screen_name == $u->id ) {
				?>
				<li id="user-<?php echo $u->screen_name; ?>" class="selected">
				<?php
					}else {
				?>
				<li id="user-<?php echo $u->screen_name; ?>">
				<?php
					}
				?>
					<a href="/search/twitter/tag/<?php echo str_replace(' ','+',$this->tag); ?>/u/<?php echo $u->screen_name; ?>/">
						<img width="30" height="30" src="<?php echo $u->profile_image_url; ?>">@<?php echo $u->screen_name; ?>
					</a>
				</li>
			<?php
				}
			?>
		</ul>
	</section>
	<section id="content" class="twitter">
	</section>
	<div class="corte"> </div>
	<section id="pager">
		<a href="javascript:prev();">Prev</a> <a href="javascript:next();">Next</a>
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="http://whooptag.com">Whooptag.com</a></div>
		<div class="corte"> </div>
	</footer>

<script>
	var isActive = false;
	var str_search = '<?php echo $this->s; ?>';
	var isUser = false;
	var iUsers = Object();
	
	var el_prev = 0;	/* Contador para navegación horizontal */

	$(function(){
		openLoading();
		if ('<?php echo $this->u; ?>' != 0){
			$('#submenu .selected').removeClass('selected');
			str_search = '<?php echo $this->u; ?>';
			$('#user-<?php echo $this->u; ?>').addClass('selected');
			isUser = true;
		} 
		twitter.load(function(){
			if (isUser){
				twitter.setUserMode();
			}
			twitter.loadPage(str_search, 1, function(){
				loadTwitterPage();
				<?php if ($this->isElement){ ?>
					twitter_media['<?php echo $this->pid ?>'] = JSON.parse(<?php echo $this->linkedElement ?>);
					openTwitterMedia('<?php echo $this->pid ?>');
				<?php }?>
			});
		});
		
		$('#overlay_bg').click(function(){
			closeOverlay();
		});
		$("#overlay_content").click(function(e){
		    var t=$(e.target);
		    if(t.is("section"))
		        closeOverlayTwitter(); /*llamas a la función que quieres ejecutar*/
		});
		
	});
	
	function prev(){
		$("html, body").animate({ scrollTop: "0" });
		openLoading();
		twitter.loadPrevPage(str_search, function(){
			loadTwitterPage();
		});
	}
	
	function next(){
		$("html, body").animate({ scrollTop: "0" });
		openLoading();
		twitter.loadNextPage(str_search, function(){
			loadTwitterPage();
		});
		
	}
	
	
	function loadTwitterPage(){
		$('#content').html('');
		media = twitter.getPage();
		$.each( media, function( k, m ) {
			/* Navegacion horizontal */
			twitter_media[m.id_str] = m;
			twitter_media[m.id_str]['prev'] = el_prev;
			if (el_prev != 0) {
				twitter_media[el_prev]['next'] = m.id_str;
			}
			el_prev = m.id_str;
			/*--------------*/
			if (m.entities.media == null) {
				$('#content').append('<div class="item"><div class="title"><div class="instdate">'+formatTwitterDate(m.created_at)+'</div><img src="'+m.user.profile_image_url+'" width="50" height="50" ><div class="info"><span class="name">'+truncate(m.user.name, 40)+'</span></div></div><div class="media link" onclick="openTwitterMedia(\''+m.id_str+'\');">'+m.text+'</div></div>');
			}else {
				$('#content').append('<div class="item"><div class="title"><div class="instdate">'+formatTwitterDate(m.created_at)+'</div><img src="'+m.user.profile_image_url+'" width="50" height="50" ><div class="info"><span class="name">'+truncate(m.user.name, 40)+'</span></div></div><div class="media link" onclick="openTwitterMedia(\''+m.id_str+'\');">'+m.text+'<img src="'+m.entities.media[0].media_url+'"></div></div>');
			}
		});
		$('#content').append('<div class="corte"></div>');
		layout();
		$('img').load(function() {
			layout(); //muestra el div despues de que la imagen carga.
		});
		closeOverlay();
	}
	
	function openTwitterMedia(id){
		$('#overlay_content').html('');
		$('#overlay_content').append('<div class="close_instagram_media"><a onclick="closeOverlay();" class="btn_close_56x56"></a></div>');
		
		var m = twitter_media[id];
		var nav = '';
		
		if (m != undefined){
			if (m.prev != 0){
				nav += '<div class="prev_arrow_content"><a href="javascript:goToElement(\''+m.prev+'\')" class="prev_arrow"></a></div>';
			}
			if (m.next != 0){
				nav += '<div class="next_arrow_content"><a href="javascript:goToElement(\''+m.next+'\')" class="next_arrow"></a></div>';
			}
			$('#overlay_content').append(nav);
			if (history.pushState) {
				<?php if ($this->isElement){ ?>
					history.pushState(null, null, m.id_str);
				<?php } else{ ?>
					history.pushState(null, null, 'pid/'+m.id_str);
				<?php } ?>
				$('#overlay_content').append('<div class="share-icons"><a href="javascript:void(0);" onclick="shareFacebookTwitter(\''+id+'\')"><img width="32" height="32" src="/img/btn/btn_facebook_32x32.png" /></a><a href="https://twitter.com/intent/tweet?url='+document.URL+'" target="_blank" onclick="saveItem(\''+id+'\');" ><img width="32" height="32" src="/img/btn/btn_twitter_32x32.png" /></a></div>');
			}
			
			if (m.entities.media == null) {
				$('#overlay_content').append('<div class="twitter_media"><div class="title"><div class="instdate">'+formatTwitterDate(m.created_at)+'</div><img src="'+m.user.profile_image_url+'" width="50" height="50" ><div class="info"><span class="name">'+truncate(m.user.name, 40)+'</span></div><span class="caption">'+textToLinks(m.text)+'</span></div><div class="twitter_link"><a href="http://twitter.com/'+m.user.screen_name+'" target="blank">Ver en Twitter</a></div></div>');
			}else{
				if (m.entities.media[0].type == 'photo'){
					$('#overlay_content').append('<div class="twitter_media"><div class="title"><div class="instdate">'+formatTwitterDate(m.created_at)+'</div><img src="'+m.user.profile_image_url+'" width="50" height="50" ><div class="info"><span class="name">'+truncate(m.user.name, 40)+'</span></div><span class="caption">'+textToLinks(m.text)+'</span></div><div class="media" align="center"><img src="'+m.entities.media[0].media_url+'"></div><div class="twitter_link"><a href="http://twitter.com/'+m.user.screen_name+'" target="blank">Ver en Twitter</a></div></div>');
				}
			}
			openOverlay();
		}
		
	      $( "#overlay_content .prev_arrow_content" ).position({
	        of: $( "#overlay_content .twitter_media" ),
	        my: "right center",
	        at: "left center",
	        collision: "flip flip"
	      });
	      $( "#overlay_content .next_arrow_content" ).position({
	        of: $( "#overlay_content .twitter_media" ),
	        my: "left center",
	        at: "right center",
	        collision: "flip flip"
	      });
	}
	
	function goToElement(id){
		closeOverlayTwitter(function(){openTwitterMedia(id);});
	}
	
	function saveItem(id){
		var m = twitter_media[id];
		twitter.saveMedia(id, JSON.stringify(m));
	}
	
	function shareFacebookTwitter(id){
		var m = twitter_media[id];
		twitter.saveMedia(id, JSON.stringify(m));
		shareFacebook(m.user.profile_image_url);
	}
	
	function closeOverlayTwitter(callback){
		callback = callback || function(){};
		closeOverlay(function(){
			window.history.go(-1);
			//history.pushState(null, null, '/search/twitter/tag/<?php echo str_replace(' ','+',$this->tag); ?>');
			callback();
		});
	}
	
	function layout(){
		var $container = $('.twitter');
		if ( isActive ) {
			$container.masonry('destroy');
		}
		// initialize
		$container.masonry({
		  columnWidth: 0,
		  itemSelector: '.item'
		});
		isActive = true;
	}
	
	
	function textToLinks(text) {
	    var re = /(https?:\/\/(([-\w\.]+)+(:\d+)?(\/([\w/_\.]*(\?\S+)?)?)?))/g;
	    return text.replace(re, "<a target=\"_blank\" href=\"$1\" title=\"\">$1</a>");
	  }
	
</script>
