<header id="search-header"> 
		<div class="logo"> </div>	
		<div class="form"> 
		<form action="javascript:startSearch('youtube');">
			<input type="text" id="search-field" class="field" value="<?php echo str_replace('+',' ',$this->tag); ?>" />
			<input type="submit" class="search_inside" value="" />
		</form>
		</div>
	</header>
	<section id="menu">
		<ul>
			<?php /*  ?><li><a href="/search/all/tag/<?php echo str_replace(' ','+',$this->tag); ?>">All</a></li><?php */ ?>
			<li><a href="/search/instagram/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Instagram</a></li>
			<li><a href="/search/twitter/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Twitter</a></li>
			<li class="selected">Youtube</li>
			<li><a href="/search/map/tag/<?php echo str_replace(' ','+',$this->tag); ?>/">Map</a></li>
		</ul>
	</section>
	<section id="submenu" class="youtube_submenu">
		<ul>
			<li id="order-recent" order="date" <?php if ($this->o == 'date'){ ?> class="selected" <?php }?>>
				<a href="/search/youtube/tag/<?php echo str_replace(' ','+',$this->tag); ?>/o/date/">Recent</a>
			</li>
			<li id="order-relevance" order="relevance" <?php if ($this->o == 'relevance'){ ?> class="selected" <?php }?>>
				<a href="/search/youtube/tag/<?php echo str_replace(' ','+',$this->tag); ?>/o/relevance/">Relevance</a>
			</li>
			<li id="order-rating " order="rating" <?php if ($this->o == 'rating'){ ?> class="selected" <?php }?>>
				<a href="/search/youtube/tag/<?php echo str_replace(' ','+',$this->tag); ?>/o/rating/">Rating </a>
			</li>
		</ul>
	</section>
	<section id="content" class="youtube">
	</section>
	<div class="corte"> </div>
	<section id="pager">
		<a href="javascript:prev();">Prev</a> <a href="javascript:next();">Next</a>
	</section>
	<footer>
		<div class="left"> </div>
		<div class="right"><a href="http://whooptag.com">Whooptag.com</a></div>
		<div class="corte"> </div>
	</footer>
	
<script>
	var isActive = false;
	
	var el_prev = 0;	/* Contador para navegación horizontal */
	
	$(function(){
		openLoading();
		youtube.load(function(){
			youtube.loadPage(($.trim($('#search-field').val())).replace(/\s/g,'+'), 1, '<?php echo $this->o; ?>', function(){
				loadYoutubePage();
				<?php if ($this->isElement){ ?>
					youtube_media['<?php echo $this->pid ?>'] = JSON.parse(<?php echo $this->linkedElement ?>);
					openYoutubeMedia('<?php echo $this->pid ?>');
				<?php }?>
			});
		});
		
		$('#overlay_bg').click(function(){
			closeOverlay();
		});
		$("#overlay_content").click(function(e){
		    var t=$(e.target);
		    if(t.is("section"))
		        closeOverlayYoutube(); /*llamas a la función que quieres ejecutar*/
		});
		
				
	});
	
	function prev(){
		$("html, body").animate({ scrollTop: "0" });
		openLoading();
		youtube.loadPrevPage(($.trim($('#search-field').val())).replace(/\s/g,'+'), '<?php echo $this->o; ?>', function(){
			loadYoutubePage();
		});
	}
	
	function next(){
		$("html, body").animate({ scrollTop: "0" });
		openLoading();
		youtube.loadNextPage(($.trim($('#search-field').val())).replace(/\s/g,'+'), '<?php echo $this->o; ?>', function(){
			loadYoutubePage();
		});
		
	}
	
	function loadYoutubePage(){
		$('#content').html('');
		media = youtube.getPage();
		$.each( media, function( k, m ) {
			/* Navegacion horizontal */
			youtube_media[m.id.videoId] = m;
			youtube_media[m.id.videoId]['prev'] = el_prev;
			if (el_prev != 0) {
				youtube_media[el_prev]['next'] = m.id.videoId;
			}
			el_prev = m.id.videoId;
			/*--------------*/
			$('#content').append('<div class="item"><div class="title"><div class="instdate">'+formatYoutubeDate(m.snippet.publishedAt)+'</div><div class="instdate"></div><div class="info"><span class="name">'+m.snippet.title+'</span></div></div><div class="media"><a onclick="openYoutubeMedia(\''+m.id.videoId+'\');"><img src="'+m.snippet.thumbnails.medium.url+'" width="250" height="140"></a></div><div class="caption">'+truncate(m.snippet.description, 100)+'</div></div>');
		});
		$('#content').append('<div class="corte"></div>');
		layout();
		closeOverlay();
	}
	
	
	function openYoutubeMedia(id){
		$('#overlay_content').html('');
		$('#overlay_content').append('<div class="close_instagram_media"><a onclick="closeOverlay();" class="btn_close_56x56"></a></div>');
		
		var m = youtube_media[id];
		var nav = '';
		
		if (m != undefined){
			if (m.prev != 0){
				nav += '<div class="prev_arrow_content"><a href="javascript:goToElement(\''+m.prev+'\')" class="prev_arrow"></a></div>';
			}
			if (m.next != 0){
				nav += '<div class="next_arrow_content"><a href="javascript:goToElement(\''+m.next+'\')" class="next_arrow"></a></div>';
			}
			$('#overlay_content').append(nav);
			if (history.pushState) {
				<?php if ($this->isElement){ ?>
					history.pushState(null, null, m.id.videoId);
				<?php } else{ ?>
					history.pushState(null, null, 'pid/'+m.id.videoId);
				<?php } ?>
				$('#overlay_content').append('<div class="share-icons"><a href="javascript:void(0);" onclick="shareFacebookYoutube(\''+id+'\')"><img width="32" height="32" src="/img/btn/btn_facebook_32x32.png" /></a><a href="https://twitter.com/intent/tweet?url='+document.URL+'" target="_blank" onclick="saveItem(\''+id+'\');" ><img width="32" height="32" src="/img/btn/btn_twitter_32x32.png" /></a></div>');
			}
			
			$('#overlay_content').append('<div class="youtube_media"><div class="title"><div class="instdate">'+formatYoutubeDate(m.snippet.publishedAt)+'</div><div class="info"><span class="name">'+m.snippet.title+'</span></div></div><div class="media"><iframe width="500" height="315" src="//www.youtube.com/embed/'+m.id.videoId+'?rel=0&autoplay=1&egm=1" frameborder="0" allowfullscreen></iframe></div><div class="caption">'+m.snippet.description+'</div><div class="youtube_link"><a href="http://www.youtube.com/watch?v='+m.id.videoId+'" target="blank">Ver en Youtube</a></div></div>');
			openOverlay();
			
		}
	}
	
	function goToElement(id){
		closeOverlayYoutube(function(){openYoutubeMedia(id);});
	}
	
	function saveItem(id){
		var m = youtube_media[id];
		youtube.saveMedia(id, JSON.stringify(m));
	}
	
	function shareFacebookYoutube(id){
		var m = youtube_media[id];
		youtube.saveMedia(id, JSON.stringify(m));
		shareFacebook(m.snippet.thumbnails.medium.url);
	}
	
	function closeOverlayYoutube(callback){
		callback = callback || function(){};
		closeOverlay(function(){
			window.history.go(-1);
			//history.pushState(null, null, '/search/twitter/tag/<?php echo str_replace(' ','+',$this->tag); ?>');
			callback();
		});
	}
	
	
	function layout(){
		var $container = $('.youtube');
		if ( isActive ) {
			$container.masonry('destroy');
		}
		// initialize
		$container.masonry({
		  columnWidth: 0,
		  itemSelector: '.item'
		});
		isActive = true;
	}
</script>